*               text=auto
*               text eol=lf

*.wxss          linguist-language=css
*.wxml          linguist-language=html

/iviewui        linguist-vendored
/wuss           linguist-vendored
/client/ui      linguist-vendored
/client/towxml  linguist-vendored
